body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.btn {
  padding: 12px 20px;
  border: none;
  font-size: 1.2rem;
  background-color: #41b883;
  color: white;
  border-radius: 7px;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-goBack {
  position: absolute;
  top: 40px;
  right: 20px;
}

.mailandpassword {
  display: inline;
  font-size: 12px;
  color: rgb(222, 222, 222);
  text-transform: lowercase;
}

/* forms */
/* form {
  max-width: 480px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.25);
  
}
label {
  display: block;
  margin: 24px auto;
  color: #fff;
}
label span {
  display: block;
  margin-bottom: 6px;
  font-size: 1.2rem;
  text-transform: uppercase;
}
input,
textarea {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.9);
}
input:focus {
  color: #41b883;
}
textarea {
  min-height: 100px;
} */



/* 
.application-form {
  max-width: 480px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.25);
}
.application-form-label {
  display: block;
  margin: 24px auto;
  color: #fff;
}
.application-form-span {
  display: block;
  margin-bottom: 6px;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.application-form-input,
.application-form-textarea {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9);
}
.application-form-input:focus {
  color: #41b883;
}
.application-form-textarea {
  min-height: 100px;
} */

.buttonDiv {
  margin: 0 auto;
  height: 70px;
  box-shadow: 0px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
}

/* admin form */
/* 
.admin-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://source.unsplash.com/random/?art,abstract,black);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.admin-form {
  min-width: 480px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.25);
}
.admin-form-label {
  color: #fff;
  display: inline;
}
.admin-form-span {
  display: block;
  margin-bottom: 6px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff;
}
.admin-form-input {
  margin: 10px auto;
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9);
}
.admin-form-input:focus {
  color: #41b883;
}
.admin-form .btn {
  margin-top: 10px;
} */

/*  */

.logout-button {
  background-color: transparent;
  color: red;
  text-transform: uppercase;
}
.input-error{
  color: rgb(205, 218, 12);
}

.background::before {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://source.unsplash.com/random/?art,abstract,black);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.quoteContainer {
  width: 960px;
  margin-top: 20px;
}

.quote {
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
}

.author {
  font-style: italic;
  font-size: 1.5rem;
  color: rgb(220, 220, 220);
}

.input-error {
  padding-top: 6px;
}

.dashboard {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: rgb(252, 252, 252);
}

/* .filters {
  max-width: 1200px;
  margin: 30px auto;
}

.application-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  grid-gap: 20px;
  max-width: 1200px;
  margin: 40px auto;
} */
/* 
.application-card .card {
  background-color: #fff;
  color: #333;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  position: relative;
}

.application-card .card:hover {
  transform: rotate(3deg) scale(1.2);
}

.application-card .card a {
  display: block;
  color: #41b883;
  border: 1px solid #41b883;
  text-decoration: none;
  background-color: transparent;
  font-size: 0.9em;
  text-align: center;
  width: 120px;
  padding: 8px;
  border-radius: 6px;
  margin: 20px auto 0;
}
.application-card .card a:hover {
  background-color: #41b883;
  color: #fff;
}

.card-applicationId {
  font-size: 14px;
  text-align: end;
}

.card-name {
  font-size: 24px;
}
.card-name h3 {
  margin-bottom: 10px;
}

.card-applicationIdNumber {
  display: block;
  text-align: end;
  font-size: 20px;
  color: rgb(68, 0, 255);
}
.card-applicationIdNumber.approvedApplication {
  color: #41b883;
}
.card-applicationIdNumber.declinedApplication {
  color: red;
}

.card-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-description {
  color: #333;
  font-size: 24px;
  word-break: break-all;
} */

/* success page */
/* 
.successful-application {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.successful-application-container {
  padding: 100px 150px;
  max-width: 1000px;
  box-shadow: 0 0 10px rgba(65, 184, 131, 0.4);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.successful-application-text {
  font-size: 32px;
}
.successful-application-text span {
  color: #41b883;
}
.successful-application-btn {
  border: 0;
  background-color: #41b883;
  color: #fff;
  padding: 12px 20px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
}
.successful-application-appNumber {
  text-align: center;
  font-size: 32px;
  color: #2f66c6;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
} */

/* APPLICATION PROGRESS */

.application-progress {
  margin-top: 20px;
}

/* icons */

.icon {
  height: 2em;
  width: 3em;
}



/* single application */
/* 
.admin-application {
  background-color: rgb(240, 240, 240);
  min-height: 60vh;
  width: 640px;
  padding: 80px;
  border: 1px solid #000;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.admin-application-date {
  position: absolute;
  top: 10px;
  left: 20px;
  color: #999;
  font-size: 20px;
}
.admin-application-applicationId {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  color: rgb(68, 0, 255);
}
.admin-application-applicationId.approved {
  color: #41b883;
}
.admin-application-applicationId.declined {
  color: red;
}

.admin-application-progress {
  color: rgb(68, 0, 255);
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
}
.admin-application-progress.approved {
  color: green;
}
.admin-application-progress.declined {
  color: red;
}

.admin-application-name {
  text-align: center;
  margin: 10px;
}
.admin-application-age-id {
  font-size: 15px;
  display: inline-block;
  margin-left: 10px;
}

.admin-application-description {
}

.admin-application-address {
}

.comments {
  list-style: none;
  flex: 1;
  width: 100%;
}
.comment-list-item {
  margin: 10px 0;
}
.application-comment-form {
  display: flex;
  margin-top: 15px;
}
.comment-form-input {
  margin-bottom: auto;
  width: 350px;
  padding: 10px;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid orangered;

}
.comment-form-input:focus{
  outline: 0;
}
.comment-form-btn{
  padding: 5px 10px;
  font-size: 20px;
  background-color:transparent;
  color: orangered;
  border: 0;
  cursor: pointer;
  border: 1px solid orangered;
}

.admin-application-btnGroup {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.admin-application-btn {
  padding: 10px 40px;
  color: #fff;
  border: 0;
  font-size: 24px;
  border-radius: 10px;
  cursor: pointer;
}
.green-btn {
  background-color: green;
}
.red-btn {
  background-color: red;
} */

/*  */

/* .find-application-form{
  max-width: 480px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.25);
}

.find-application-label{
  display: block;
  margin: 24px auto;
  color: #fff;
}

.find-application-span {
  display: block;
  margin-bottom: 6px;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.find-application-input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.9);
} */

/* forms */
/* form {
  max-width: 480px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.25);
  
}
label {
  display: block;
  margin: 24px auto;
  color: #fff;
}
label span {
  display: block;
  margin-bottom: 6px;
  font-size: 1.2rem;
  text-transform: uppercase;
}
input,
textarea {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.9);
}
input:focus {
  color: #41b883;
}
textarea {
  min-height: 100px;
} */